/* Estilos globales */
body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contenedor de formulario de datos y formulario de ABM */
#form-data-container,
#form-amb-container {
  display: flex;
  border: 3px solid;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form-amb-container {
  display: none;
}


/* Título del formulario */
#title-form {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin-top: 5px;
}

/* Contenedor de campos de entrada */
#inputs-container,
#inputs-container-amb {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* Campos de entrada y etiquetas */
#input-field {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

label {
  font-weight: lighter;
  font-size: small;
}

input,
select {
  width: 340px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

/* Contenedores de botones */
#buttons-container,
#btns-container-edit-delete,
#btns-container-add {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

/* Botones */
button {
  height: 50px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 7px;
  padding: 0 15px;
  text-align: center;
  min-width: 150px;
  font-weight: bold;
  font-size: medium;
}

button:focus {
  background-color: darkgrey;
}


/* Campos de filtro y cálculo de edad promedio */
#field-type-filter,
#field-calculate-age-average {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

#ddl-type-filter,
#num-calculate-age-average {
  max-width: 150px;
}

#lbl-type-filter,
#lbl-calculate-age-average,
#lbl-ckl-colums {
  font-size: medium;
  font-weight: bolder;
  margin-right: 5px;
}

#btn-calculate-age-average {
  min-height: min-content;
  height: 40px;
}

/* Opciones de columnas a mostrar */
#ckl-colums-to-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

#chk-label {
  font-weight: bolder;
  font-size: medium;
}

.chk-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
}

/* Contenedor de la tabla */
#table-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

/* Tabla */
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  z-index: 0;

}

/* loader */

.loader {
  width: 100px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100001; /* Asegura que el loader esté en la parte superior */

}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

#loaderContainer {
  width: 100vw;
  height: 100vh;
  background: rgba(233, 75, 75, 0.1); /* Ajusta el valor del canal alfa según tus preferencias */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000; /* Asegura que el loader esté en la parte superior */

}

.hide {
  display: none !important;
}
